<div class="container">
  <div class="set_center_outer">
    <div class="set_center_inner">
      <blockquote>
        <p><%= @phrase.content %></p>
        <% if @phrase.present? %>
          <p><%= @phrase.personage %></p>
        <% end %>
      </blockquote>
    </div>
  </div>

    <% @targets.each do |target| %>
      <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header"><%= target.age %>才まで</div>
          <% if target.goal.present? %>
            <div class="card-body">
              <h5 class="card-title">目標</h5>
              <p class="card-text"><%= target.goal %></p>
            </div>
          <% end %>
      </div>
    <% end %>


      <div>
        <%= link_to 'Target新規登録', new_target_path, class:"btn btn-outline-dark" %>
        <%= link_to 'Phrase新規登録', new_phrase_path, class:"btn btn-outline-dark" %>
      </div>


<p>日々の学びの中で"シビれた"名言を登録していこう！</p>

</div>
