<!DOCTYPE html>
<html>
  <head>
    <title>CountdownTimer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/0233699884.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <!-- <a class="nav-link active" href="homes/index">Home</a> -->
        <%= link_to "Homes", homes_index_path, class: "nav-link"%>
      </li>
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to "Profile", user_path(current_user.id), class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", session_path(current_user.id), method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_session_path, class: "nav-link" %>
        </li>
      <% end %>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

    <%= yield %>
  </body>

</html>
